@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom animation */
/* 
.hover-lift {
    transition: all .25s ease;
}

.hover-lift:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
} */
.hover-lift {
    transition: all .25s ease;
}
.hover-lift:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
/* CheckoutController@placeOrder */
